/* Base styles for the application, including typography and global element styles. */
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: "Inter", serif;
    @apply text-sm md:text-base text-app-text bg-app-surface;
  }

  address {
    @apply not-italic;
  }

  a {
    @apply no-underline;
  }

  a:hover,
  a:focus-visible {
    @apply underline;
  }
}
